<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8 space-y-6">
    <div class="text-center">
      <h1 class="text-3xl font-bold text-indigo-600">InnovaTube</h1>
      <p class="text-sm text-gray-500 mt-1">Crea tu cuenta</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="space-y-4">
      <input type="email" formControlName="email" placeholder="Correo electrónico" class="input" />
      <input type="password" formControlName="password" placeholder="Password" class="input" />
      <input type="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" class="input" />
      
 
      <ngx-recaptcha2
        #captchaElem
        [siteKey]="siteKey"
        (success)="handleCaptchaSuccess($event)"
        [useGlobalDomain]="false"
        formControlName="recaptcha">
      </ngx-recaptcha2>

      <button type="submit"
        class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 disabled:opacity-50"
        [disabled]="registerForm.invalid">
        Registrarse
      </button>
    </form>

    <div class="text-sm text-center text-gray-600">
      ¿Ya tienes cuenta?
      <a routerLink="/login" class="text-indigo-600 hover:underline">Iniciar sesión</a>
    </div>
  </div>
</div>
